<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>scenariol 1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">-->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->


    </head>
    <body>
        <div class="container">

            <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

            <div class="app">
                <h1>What you want:</h1>
<!--                <h2>Genre: Comedy</h2>-->
<!--                <h2>Genre: {{GenreName}}</h2>-->
<!--<h2>{{htmldata[1]}}:{{htmldata[2]}}</h2>-->
<!--                <h2> {{htmldata}} </h2>-->
                <h2 id="genre-tag"> </h2>
                <h2 id="actor-tag"></h2>
                <h2 id="date-tag"></h2>
<!--                <h2> jsdata.genre </h2>-->
                <p id="help" class="page-description">Imagine you want a {{GenreName}} now. What would you say to your TV?</p>
                <p id="morehelp"> No idea about what to say? We prepare you with some examples. </p>
                <button id="example" title="example">Show example</button>
                <p id="moreExample"> You can talk to me like these: <br />I'd like to watch a {{GenreName}}.<br /> Show me a {{GenreName}}.<br />It is good to follow your own habit.</p>
                
                <button id="speak" title="speak">Speak</button>
                
                <div class="input-single">
                    <textarea readonly id="note-textarea" placeholder="Press the Speak button to speak, acting as you are talking to your TV. Your words will be shown here" rows="10"></textarea>
                </div>
                
<!--                <button id="start-record-btn" title="Start Recording">Start speak</button>-->
<!--                <button id="pause-record-btn" title="Pause Recording">Stop</button>-->
                <button id="help-btn" title="Help">Help</button>
                <button id="save-note-btn" title="Save Note">Go next</button>
                
                <a href="/{{htmlint+1}}" id="go-next-btn"> go next2 </a>
                
                <p id="recording-instructions">  </p>

<!--                <h3>My Answers</h3>-->
<!--                <ul id="notes">-->
<!--                    <li>-->
<!--                        <p class="no-notes">You don't have any answers.</p>-->
<!--                    </li>-->
<!--                </ul>-->

            </div>
        </div>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static',filename='js/script.js')}}"></script>
        <script>
            //var jsdata = JSON.parse(JSON.stringify('{{htmldata}}'));
            //$('#genre-tag').html("genre:"+jsdata.genre);
            var index = {{htmlint}};
            var jsdata = JSON.parse('{{htmldata|safe}}');
            
            if (jsdata[index].genre == "") $('#genre-tag').hide();
            else $('#genre-tag').html("genre: "+jsdata[index].genre);
            if (jsdata[index].actor == "") $('#actor-tag').hide();
            else $('#actor-tag').html("actor: "+jsdata[index].actor);
            if (jsdata[index].date == "") $('#date-tag').hide();
            else $('#date-tag').html("date: "+jsdata[index].date);
            
            $('#help').html(jsdata[index].genre);
            
        </script>
<!--        <script type = "text/javascript"> jsint=getInt({{htmlint}}) </script>-->



    </body>
</html>
