<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
    {% block headline %}
    <h2 id="headline"> Tutorial: {{htmlint+SkipTime+1}} / 4 </h2>
    {% endblock %}
    
    {% block movies %}
        <div class="row" id="instruction1">
            <h4>You want clothes like these:</h4>
        </div>

                <div class="row" id="movie-row-1">
<!--                    The 4 clothes in the first row-->
                    {% for Count in range(0,4) %}
                    <div class="col-3" title="movie-row-1">
                        <!--poster ids start from 0-->
                        <div class="posters">
                            <img id={{"poster"+Items[Count][0]}} src="{{"../../../"+Items[Count][5]}}"
                                alt="{{"poster of " + Items[Count][1]}}" class="img-thumbnail" />
                            <div class="overlay">
                                <div class="text">
                                    <p> {{Items[0][1]}}</p>
                                    <p>Brand: {{Items[0][2]}}</p>
<!--                                    <p>Discription: {{Items[0][3]}}</p>-->
                                    <p>Price: {{Items[0][4]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row" title="movieName">
                    {% for Count in range(0,4) %}
                    <div class="col-3">
                        <p id="name"+Items[Count][0]> {{Items[Count][1]}} </p>
                    </div>
                    {% endfor %}
                </div>
                
                
                {% if (htmlint+SkipTime) not in HideIndex %}
                <div class="row">
                    <h4>Rather than these:</h4>
                </div>
                <!--                The 4 movies in the second row-->
                <div class="row" id="movie-row-2">
                    {% for Count in range(4,8) %}
                    <div class="col-3" title="movie-row-2">
                        <div class="posters">
                            <img id={{"poster"+Items[Count][0]}} src="{{ "../../../"+Items[Count][5]}}"  alt="{{"poster of" + Items[Count][1]}}" class="img-thumbnail" />
                            <div class="overlay">
                                <div class="text">
                                    <p> {{Items[0][1]}}</p>
                                    <p>Brand: {{Items[0][2]}}</p>
<!--                                    <p>Discription: {{Items[0][3]}}</p>-->
                                    <p>Price: {{Items[0][4]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    
                <div class="row" title="movieName">
                    {% for Count in range(4,8) %}
                    <div class="col-3">
                        <p id="name"+Items[Count][0]> {{Items[Count][1]}} </p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {% if (htmlint+SkipTime) in ShowRow3Index %}
                <div class="row">
                    <h2>Or these:</h2>
                </div>
                {% endif %}
                <!--                The 4 movies in the third row-->
                {% if (htmlint+SkipTime) in ShowRow3Index  %}
                <div class="row">
                    {% for Count in range(8,12) %}
                    <div class="col-2" title="movie-row-1">
                        <img id={{"poster"+Items[Count][0]}} src="{{"../../../"+Items[Count][5]}}"  alt={{"poster of" + Items[Count][1]}} class="img-thumbnail" />
                        <h4 id="name"+Items[Count][0]> {{Items[Count][1]}} </h4>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
        {% endblock %}
        
        {% block help %}
            <div class="help1" id="detail1">
                <p>Instructions:</p><p>Imagine that you want the clothes shown in the first row.</p><p>If you move your cursor over the picture, more information will appear.</p><p>To move to the next page, click speak button and ask for clothes. Imagine that you are asking the question to an intelligent assistant such as Siri or Amazon Echo. Then click "next". It's good to speak naturally.</p>
            </div>
        {% endblock %}
                

        {% block operation1 %}
                    {{ super() }}
                    {% if (htmlint+SkipTime) == 3  %}
                        <script>
                            $("#go-next-btn").attr("href", "/0/0");
                        </script>
                    {% else %}
                        <script>
                            $("#go-next-btn").attr("href", "/1/{{htmlint+1}}/0");
                        </script>
                    {% endif %}
                {% endblock %}
                
                {% block operation2 %}
                    {{ super() }}
                    <script>
                        $("#skip-btn").hide();
                    </script>
        {% endblock %}
                
                <p></p>
            


        {% block myJS %}
        
<!--        tutorial-->
         <script>
             $(function(){
               var introguide = introJs();
               
               if ({{SkipTime}}==0 & {{htmlint}}==0)
               {
               introguide.setOptions({
                                     steps: [
                                             {
                                             element: '#headline',
                                             intro: 'Let\'s begin the tutorial to learn the interface. Click next.',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#instruction1',
                                             intro: 'Imagine that you want the clothes shown here. ',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#poster2',
                                             intro: 'If you move your cursor over the picture, more information will appear.',
                                             position: 'right'
                                             },
                                             {
                                             element: '#movie-row-1',
                                             intro: 'In this scenario, the pictures show clothes with the Nike logo.',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#speak',
                                             intro: 'To move to the next page, click this button and ask for nike clothes. Imagine that you are asking the question to an intelligent assistant such as Siri or Amazon Echo. Then click "next".',
                                             //see what different here to ask for a friend/employee
                                             position: 'right'
                                             }
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 1)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-1',
                                             intro: 'These are clothes with superheroes.',
                                             position: 'bottom'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 2)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-2',
                                             intro: 'We have added another row that shows items you don\'t want. In this case, you want clothes for warm weather (shown in the top row), not for cold weather.',
                                             position: 'top'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 3)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-1',
                                             intro: 'Please be as specific as possible. In this scenario, what you want is jean shorts.',
                                             position: 'left'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               });
               
        </script>
    {% endblock %}

    </body>
</html>
