<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>scenariol 1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
<!--        Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--            intro.js-->
        <link rel="stylesheet" href="/static/intro_js/node_modules/intro.js/introjs.css"/>

    </head>
    
    <body>
        <div class="container">

            <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

                <h1 id="headline"> Tutorial: {{htmlint+SkipTime+1}} / 4 </h1>
            <div class="app" id="app">
                <div class="row" id="instruction1">
                   <h2>You want clothes like these:</h2>
                </div>
                <div class="row" id="movie-row-1">
<!--                    The 4 movies in the first row-->
                    {% for Count in range(0,4) %}
                    <div class="col-2" title="movie-row-1">
<!--poster ids start from 0-->
                        <img id={{"poster"+Items[Count][0]}} src="{{"../../../"+Items[Count][5]}}"  alt={{"poster of" + Items[Count][1]}} class="img-thumbnail" />
                        <h4 id="name"+Items[Count][0]> {{Items[Count][1]}} </h4>
                    </div>
                    {% endfor %}


                   <div class="col-4" >
                       <h5 class="text-center"> What would you say to your TV? </h5>
                       <button  id="speak" title="speak">Speak</button>
                       <p id="recording-instructions">  </p>
                   </div>
                </div>
                
                {% if (htmlint+SkipTime) not in HideIndex %}
                <div class="row">
                    <h2>Rather than these:</h2>
                </div>
                {% endif %}
<!--                The 4 movies in the second row-->
                <div class="row" id="movie-row-2">
                    {% for Count in range(4,8) %}
                    <div class="col-2">
                        {% if (htmlint+SkipTime) not in HideIndex  %}
                        <img id={{"poster"+Items[Count][0]}} src="{{ "../../../"+Items[Count][5]}}"  alt={{"poster of" + Items[Count][1]}} class="img-thumbnail" />
                        <h4 id="name"+Items[Count][0]> {{Items[Count][1]}} </h4>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div class="col-4" >
<!--                        <div class="input-single">-->
<!--                            <textarea id="note-textarea" placeholder="What we heard..." rows="10"></textarea>-->
<!--                        </div>-->
                    </div>
                </div>
                
                {% if (htmlint+SkipTime) in ShowRow3Index %}
                <div class="row">
                    <h2>Or these:</h2>
                </div>
                {% endif %}
                <!--                The 4 movies in the second row-->
                {% if (htmlint+SkipTime) in ShowRow3Index  %}
                <div class="row">
                    {% for Count in range(8,12) %}
                    <div class="col-2" title="movie-row-1">
                        <img id={{"poster"+Items[Count][0]}} src="{{"../../../"+Items[Count][5]}}"  alt={{"poster of" + Items[Count][1]}} class="img-thumbnail" />
                        <h4 id="name"+Items[Count][0]> {{Items[Count][1]}} </h4>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
<!--                <div class="row">-->


                <button id="help-btn" title="Help">Help</button>
                
                {% if (htmlint+SkipTime) == 3  %}
<!--                <button id="save-note-sbtn" title="Save Note">Go next</button>-->
                <a href="/0/0" id="go-next-btn"> Go next      </a>
                {% else %}
                <a href="/tutorial/{{htmlint+1}}/0" id="go-next-btn"> Go next      </a>
                {% endif %}

                <p></p>
                    
<!--                <iframe id="detail" src="" width=300 height=300></iframe>-->
                <p id="detail1"> </p>
                
                

            </div>
            
            (for test)
            <h3>My Answers</h3>
            <ul id="notes">
                <li>
                    <p class="no-notes">You don't have any answers.</p>
                </li>
            </ul>
        </div>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{url_for('static',filename='js/script_v2.js')}}"></script>
        
<!--        Bootstrap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
<!--        intro.js-->
        <script type="text/javascript" src="/static/intro_js/node_modules/intro.js/intro.js"></script>
<!--        <script type="text/javascript">introJs().start();</script>-->

<!--        show detial info for each movie and help button-->


        
<!--        tutorial-->
         <script>
             $(function(){
               $('#poster0').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("<p> {{Items[0][1]}}</p> <p>Brand: {{Items[0][2]}}</p> <p>Discription: {{Items[0][3]}}</p> <p>Price: {{Items[0][4]}}</p>");
                                       });
               $('#poster0').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               
               
               $('#poster1').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html();
                                       });
               $('#poster1').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster2').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster2').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster3').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster3').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster4').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster4').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster5').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster5').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster6').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster6').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#poster7').mouseover(function(){
                                       $('#detail1').show();
                                       $('#detail1').html("");
                                       });
               $('#poster7').mouseout(function(){
                                      $('#detail1').hide();
                                      });
               $('#help-btn').mouseover(function(){
                                        $('#detail1').attr({"src":"/static/texts/help.txt"});
                                        $('#detail1').html("<p>Instructions:</p><p>Imagine that you want the movies shown in the first row.</p><p>If you move your cursor over the picture, more information will appear.</p><p>To move to the next page, click speak button and ask for movies. Imagine that you are asking the question to an intelligent assistant such as Siri or Amazon Echo. Then click \"next\". It's good to speak naturally.</p>" )
                                        $('#detail1').show();
                                        });
               $('#help-btn').mouseout(function(){
                                       $('#detail1').hide();
                                       });
               
               var introguide = introJs();
               
             
               
               if ({{SkipTime}}==0 & {{htmlint}}==0)
               {
               introguide.setOptions({
                                     steps: [
                                             {
                                             element: '#headline',
                                             intro: 'Let\'s begin the tutorial to learn the interface. Click next.',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#instruction1',
                                             intro: 'Imagine that you want the clothes shown here. ',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#poster2',
                                             intro: 'If you move your cursor over the picture, more information will appear.',
                                             position: 'right'
                                             },
                                             {
                                             element: '#movie-row-1',
                                             intro: 'In this scenario, the pictures show clothes with the Nike logo.',
                                             position: 'bottom'
                                             },
                                             {
                                             element: '#speak',
                                             intro: 'To move to the next page, click this button and ask for nike clothes. Imagine that you are asking the question to an intelligent assistant such as Siri or Amazon Echo. Then click "next".',
                                             //see what different here to ask for a friend/employee
                                             position: 'right'
                                             }
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 1)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-1',
                                             intro: 'These are clothes with superheroes.',
                                             position: 'bottom'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 2)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-2',
                                             intro: 'We have added another row that shows items you don\'t want. In this case, you want clothes for warm weather (shown in the top row), not for cold weather.',
                                             position: 'bottom'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               if ({{SkipTime+htmlint}} == 3)
               {
               introguide.setOptions({
                                     steps: [
                                             
                                             {
                                             element: '#movie-row-1',
                                             intro: 'Please be as specific as possible. In this scenario, what you want is jean shorts.',
                                             position: 'left'
                                             }
                                             
                                             ]
                                     });
               introguide.start();
               }
               
               });
               
        </script>

    </body>
</html>
